<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Accounts - TheFrontpageStore.com</title>
		<meta description="Buy these high karma reddit accounts at TheFrontpageStore.com your source for reddit accounts." />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>The<strong><a href="/">Frontpage</a></strong>Store.com</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="{{ url_for('load') }}">Accounts</a></li>
						<li><a href="{{ url_for('cartView') }}">Cart</a></li>
						<li><a href="{{ url_for('faq') }}">FAQ</a></li>
						<li><a href="{{ url_for('contact') }}">Contact</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>Accounts</h2>
						<p>These accounts will be great for you</p>
					</header>

		<!-- Text -->
		<div class="flex-grid">
			{% for user in users %}
			<section class="col">
				<h3>{{ user.name[:3] + "*********************" + user.name[-3:] }}</h3>
				<p>Link Karma: 1<br>
					Comment Karma: 1500<br>
					Date Created: {{ user.dateCreated }}<br>
					Cost: $10.00 USD
				</p>
				<form method="post" action="/accounts">
					<input type="hidden" value="{{ user.name }}" name="Username">
					<input type="submit" value="Add" name="Add">
                </form>
				<hr />
			</section>
			{% endfor %}
		</div>
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; thefrontpagestore.com 2019-2020</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='util.js') }}"></script>
			<script src="{{ url_for('static', filename='main.js') }}"></script>
	</body>
</html>