<!DOCTYPE HTML>
<!--
    Spatial by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
    <head>
        <title>Your Cart - TheFrontpageStore.com</title>
        <meta description="Checkout and buy your reddit accounts with TheFrontpageStore.com" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>

        <!-- Header -->
            <header id="header">
                <h1>The<strong><a href="/">Frontpage</a></strong>Store.com</h1>
                <nav id="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ url_for('load') }}">Accounts</a></li>
                        <li><a href="{{ url_for('cartView') }}">Cart</a></li>
                        <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

        <!-- Main -->
            <section id="main" class="wrapper">
                <div class="container">
                    <h2 id="yourCart">Your Cart</h2>
                    {% if total > 0 %}
                    <table class="u-full-width">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Comment Karma</th>
                                <th>Link Karma</th>
                                <th>Created</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in cart %}
                            <tr>
                                <td>{{ user.name[:3] + "............." + user.name[-3:] }}</td>
                                <td>{{ user.commentKarma }}</td>
                                <td>{{ user.linkKarma }}</td>
                                <td>{{ user.dateCreated }}</td>
                                <td>${{ user.cost }}.00</td>
                                <td>
                                    <form method="post" action="/accounts">
                                        <input type="hidden" value="{{ user.name }}" name="Username">
                                        <input type="submit" value="Remove" name="Remove">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p>Total Cost: ${{ total }}.00 USD</p>
                    <form action="/charge" method="post" id="payment-form">
                      <div class="form-row">
                        <label for="buyer-email-address">
                            Your email: 
                        </label>
                        <input name="EmailAddress" class="u-full-width" type="email" placeholder="your-email@mailbox.com" id="buyer-email-address">
                        <br>
                        <label for="card-element">
                          Credit or debit card
                        </label>
                        <div id="card-element">
                          <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display Element errors. -->
                        <div id="card-errors" role="alert"></div>
                      </div>
                     <br>
                      <button>Submit Payment</button>
                    </form>
                    <br>
                    {% else %}
                        <p>You currently have no reddit accounts in your cart.</p>
                    {% endif %}

                </div>
            </section>

        <!-- Footer -->
            <footer id="footer">
                <div class="container">
                    <ul class="copyright">
                        <li>&copy; thefrontpagestore.com 2019-2020</li>
                    </ul>
                </div>
            </footer>

        <!-- Scripts -->
            <script src="{{ url_for('static',filename='jquery.min.js') }}s"></script>
            <script src="{{ url_for('static',filename='skel.min.js') }}"></script>
            <script src="{{ url_for('static',filename='util.js') }}"></script>
            <script src="{{ url_for('static',filename='main.js') }}"></script>

    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>