<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FAQ - TheFrontpageStore.com</title>
		<meta description="Frequently Asked Questions for TheFrontpageStore.com your source for reddit accounts." />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>The<strong><a href="/">Frontpage</a></strong>Store.com</h1>
				
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="{{ url_for('load') }}">Accounts</a></li>
						<li><a href="{{ url_for('cartView') }}">Cart</a></li>
						<li><a href="{{ url_for('faq') }}">FAQ</a></li>
						<li><a href="{{ url_for('contact') }}">Contact</a></li>
					</ul>
				</nav>
            	
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section class="main">

				<div class="container">
					<br>
					<h2>Frequently Asked Questions</h2>
	                <h5><em>How long will it take to get my account?</em></h6>
	                <p>For your convenience, your reddit accounts will be instantly delivered after the purchase.</p>
	                <h5><em>What if I am unsatisfied?</em></h6>
	                <p>At thefrontpagestore.com, we offer a satisfaction guarantee. We offer the best reddit accounts with high reddit karma. We will refund your purchase and put you in touch with our customer support.</p>
	                <h5><em>Is bulk-pricing available? </em></h6>
	                <p>For more information on bulk-pricing reddit accounts, please contact us through our contact form.</p>
	                <h5><em>How long do you take to respond? </em></h6>
	                <p>thefrontpagestore.com will respond within 24 hours.</p>
	            </div>
			</section>
		<!-- Footer -->
			<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; thefrontpagestore.com 2019-2020</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='util.js') }}"></script>
			<script src="{{ url_for('static', filename='main.js') }}"></script>

	</body>
</html>