<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>The Frontpage Store - Reddit Accounts, Reddit, Reddit Karma</title>
    <meta name="author" content="Bryce MacInnis">
    <meta name="description" content="Buy aged Reddit accounts with high karma. Get instant delivery and Mastercard/VISA checkout options when you purchase with us. We respond within 24 hours." />
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static',filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='custom.css') }}">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <nav>
        <ul>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/faq">FAQ</a>
            </li>
            <li>
                <a href="/cart">Cart</a>
            </li>
            <li>
                <a href="/accounts">Accounts</a>
            </li>
            <li>
                <a href='/'>Home</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="two-thirds column" style="margin-top: 15%; margin-bottom: 25%;">
                <h1>The Frontpage Store Reddit Accounts</h1>
                <h4>Buy the best Reddit accounts.</h4>
                <p> When you buy with The Frontpage Store we deliver your reddit accounts instantly. These respectable reddit accounts are aged, high in reddit karma, and are never banned from any subreddit. These are the best reddit accounts to use for your marketing.</p>
                <form action="/" method="post">
                    <input type="submit" class="button-primary" id="accountsButton" value="Browse">
                </form>
            </div>
            <div class="one-third column" style="margin-top: 15%; margin-bottom: 25%;">
                <img style="width: 60%;" src="{{ url_for('static', filename='spaceship.jpg') }}">
            </div>
        </div>

            
    </div>
        <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script src="{{ url_for('static',filename='script.js') }}"></script>

</html>
