<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>thefrontpagestore.com</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static',filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://static.rocketr.net/assets/RocketrEmbedCustom.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
      <div class="row">
        <div class="one-half column" style="margin-top: 25%; margin-bottom: 25%;">
          <h3>thefrontpagestore.com</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ligula rutrum iaculis ullamcorper. Quisque maximus, mi a elementum facilisis, ipsum magna eleifend augue, in dignissim augue lorem sed purus. Suspendisse accumsan arcu sed ex lobortis, sed aliquam sapien gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris sit amet hendrerit metus, id lobortis felis. </p>
          <button class="button-primary" id="moreInfoButton">More information</button>
        </div>
      </div>
      <div class="row">
        <div id="moreInfo" style="padding-bottom: 10%;"> </div>
      </div>
      <div class="row">
        <div class="one-half column" style="margin-top: 5%; margin-bottom: 25%;">
            <h4>Ways to Pay</h4>
            <button data-rocketr-invoice="eFRiQ3VhdU02Z1hERGlscFpkclprK0ZFbEZsUTJDSjY0d25PWTZRZ0M3OCtKSlhtbi9jUVNWcFdVR0VBcEtLeTRXQkVrV0lPTDN3YXdJdXNzUWt2OFlpUjg4c01zSHhiR215V2MrdS9rUGlleVkycGxUMzNkQXVCdFFFTGdyUDQ2NlVLMytDbEQ3ZUVqSElaREVnMjFyVllsZnRTRm41c2VlVG1FWGtsOGxQZzA0bmN1cjFlamRXWUJKTVFSMXB2Q2wrVDVDcnJuUDFVV2JYbEowRE9Gdz09" class="btn btn-success btn-medium">Buy Now</button>

Preview Button:

            

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ligula rutrum iaculis ullamcorper. Quisque maximus, mi a elementum facilisis, ipsum magna eleifend augue, in dignissim augue lorem sed purus. Suspendisse accumsan arcu sed ex lobortis, sed aliquam sapien gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris sit amet hendrerit metus, id lobortis felis. Donec id posuere lorem. Proin pharetra nulla lorem, vitae dictum ipsum sodales non. Maecenas arcu arcu, lacinia non tellus sed, bibendum mattis sem. Maecenas eleifend est tellus. Proin volutpat odio quis sapien venenatis sagittis. Curabitur ac hendrerit justo.</p>
            <button id="accountsButton">Shop Now</button>
          </div>
        </div>
      <div class="row">
        <div id="accounts" style="padding-bottom: 10%;"> </div>
      </div>
      <div class="row">
        <div class="twelve columns" style="margin-top: 5%; margin-bottom: 25%;">
          <h4>Accounts</h4>
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Username</th>
                <th>Comment Karma</th>
                <th>Link Karma</th>
                <th>Created</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.commentKarma }}</td>
                <td>{{ user.linkKarma }}</td>
                <td>{{ user.dateCreated }}</td>
                <td>10.00</td>
                <td><button class="button-primary">Buy</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      
          <button id="faqButton">Frequently Asked Questions</button>
        </div>
      </div>
      <div class="row">
        <div id="faq" style="padding-bottom: 10%;"> </div>
      </div>
      <div class="row">
        <div class="one-half column" style="margin-top: 5%; margin-bottom: 25%;">
            <h4>Frequently Asked Questions</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ligula rutrum iaculis ullamcorper. Quisque maximus, mi a elementum facilisis, ipsum magna eleifend augue, in dignissim augue lorem sed purus. Suspendisse accumsan arcu sed ex lobortis, sed aliquam sapien gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris sit amet hendrerit metus, id lobortis felis. Donec id posuere lorem. Proin pharetra nulla lorem, vitae dictum ipsum sodales non. Maecenas arcu arcu, lacinia non tellus sed, bibendum mattis sem. Maecenas eleifend est tellus. Proin volutpat odio quis sapien venenatis sagittis. Curabitur ac hendrerit justo.</p>
            <button id="contactUsButton">Contact Us</button>
          </div>
          
        </div>

      <div class="row">
        <div id="contactUs" style="padding-bottom: 10%;"> </div>
      </div>

      <form>
        <div class="row">
          <div class="twelve columns" style="margin-top: 5%; margin-bottom: 25%;">
                <h4>Get in touch</h4>
                <label for="exampleEmailInput">Your email</label>
                <input class="u-full-width" type="email" placeholder="your-email@mailbox.com" id="exampleEmailInput">
          
                <label for="exampleMessage">Message</label>
                <textarea class="u-full-width" placeholder="…" id="exampleMessage"></textarea>
                <label class="example-send-yourself-copy">
                  <input type="checkbox">
                  <span class="label-body">Send a copy to yourself</span>
                </label>
                <input class="button-primary" type="submit" value="Submit">
          </div>
      </div>
    </form>
  </div>
    

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<script src="{{ url_for('static',filename='script.js') }}"></script>
</html>
