<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Reddit Accounts - The Frontpage Store</title>
    <meta name="author" content="Bryce MacInnis">
    <meta name="description" content="Buy aged, high karma reddit accounts with instant delivery and a satisfaction guarantee." />
    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static',filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='custom.css') }}">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <div class="one-half column" style="margin-top: 25%; margin-bottom: 25%;">
                <h3>Accounts purchased</h3>
                <p>
                    An email containing your accounts was successfully sent! 
                    {{ accounts }}
                    <br>
                    <a href="/">Go back</a>
                </p>
            </div>
        </div>
</body>

</html>